/* -------------------- bg-color ------------------- */
.bg-black {
  background-color: #293133;
}

.bg-white {
  background-color: #919191;
}

/* ------------------- text-font -------------------*/

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-7xl {
  font-size: 5rem;
}

.text-center {
  text-align: center;
}

.text-linear-1 {
  color: linear-gradient(#00d9ff 50%, white 50%);
}

.text-blue {
  color: #00d9ff;
}

.align-baseline {
  vertical-align: baseline;
}

.no-underline	{
  text-decoration-line: none;
}

.list-none {
  list-style: none;
}


.relative {
  position: relative;
}

.font-black {
  font-weight: 900;
}

/* ------------------ margin-pading ------------------------ */

.m-0 {
  margin: 0px;
}

.mt-6 {
  margin-top: 1.5rem; /* 24px */
}

.pt-0 {
  padding-top: 0px;
}

.pr-4 {
  padding-right: 1rem; /* 16px */
}	


.pl-12 {
  padding-left: 3rem; /*48px  */
}
.pb-8 {
  padding-bottom: 2rem;
}

.space-x-16 {
  margin-left: 4rem;
}


/* ------------GRID------------- */

.container {
  display: grid;
}

.grid-cols-3{
 grid-template-columns: repeat(3, minmax(0, 1fr));
}


/* ------------flex----------- */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

/* ---------------------- height-width ----------------------*/

.h-auto {
  height: auto;
}

.h-28 {
  height: 7rem; /* 112px */
}

.h-40 {
  height: 10rem; /* 160px */
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

/*--------------- annimation ---------------- */

.light::before {
  position: absolute;
  content: attr(data-text);
  text-shadow: 0px 0px 50px #00d9ff;
  filter: blur(10px) brightness(0);
  animation: flicker 2s linear forwards;
  animation-delay: 1s;
}

@keyframes flicker {
  25% {
    filter: blur(5px) brightness(1);
  }
  50% {
    filter: blur(5px) brightness(0);
  }
  75% {
    filter: blur(5px) brightness(0);
  }
  100% {
    filter: blur(5px) brightness(1);
  }
}
