/* -------------------- bg-color ------------------- */
.bg-black {
  background-color: #171430;
}

.bg-black-100 {
  background-color: #0f0f0f;
}

.bg-image {
  background-image: url("../img/banner.png");
}

/* ------------------- text-font -------------------*/

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-7xl {
  font-size: 5rem;
}

.text-center {
  text-align: center;
}

.text-linear-1 {
  background: linear-gradient(to right, #02ffa6, #03ffc0, #03ffdd, #22b6b1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text-green {
  color: #02ffa6;
}

.align-baseline {
  vertical-align: baseline;
}

.no-underline {
  text-decoration-line: none;
}

.list-none {
  list-style: none;
}

.relative {
  position: relative;
}

.font-black {
  font-weight: 900;
}

/* ------------------ margin-pading ------------------------ */

.m-0 {
  margin: 0px;
}

.mt-6 {
  margin-top: 1.5rem; /* 24px */
}

.pt-0 {
  padding-top: 0px;
}

.pr-4 {
  padding-right: 1rem; /* 16px */
}

.pl-40 {
  padding-left: 10rem; /* 160px */
}

.pl-80 {
  padding-left: 20rem; /* 320px */
}

.pl-52 {
  padding-left: 13rem; /* 208px */
}

.pl-12 {
  padding-left: 3rem; /*48px  */
}
.pb-8 {
  padding-bottom: 2rem;
}

.pt-14 {
  padding-top: 3.5rem; /* 56px */
}

.pt-40 {
  padding-top: 10rem; /* 160px */
}

.space-x-16 {
  margin-left: 4rem;
}

/* ------------GRID------------- */

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}
.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.row-span-1 {
  grid-row: span 1 / span 1;
}

.row-span-2 {
  grid-row: span 3 / span 3;
}

.gap-16	{
  gap: 4rem; /* 64px */
}


.justify-self-center {
  justify-self: center;
}

.self-center {
  align-self: center;
}

/* ------------flex----------- */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-center {
  justify-self: center;
}

.flex-col {
  flex-direction: column;
}

/* ---------------------- height-width ----------------------*/

.h-auto {
  height: auto;
}

.h-82 {
  height: 70px
}

.h-28 {
  height: 7rem; /* 112px */
}

.h-40 {
  height: 10rem; /* 160px */
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.w-10 {
  width: 2.5rem;
}

.w-48 {
  width: 12rem;
}

.w-64 {
  width: 16rem; /* 256px */
}

.w-auto {
  width: auto;
}

.pb-14 {
  padding-bottom: 3.5rem; /* 56px */
}

/* --------IMG---------- */

.rounded-full {
  border-radius: 9999px;
}

/*--------------- annimation ---------------- */

.light::before {
  position: absolute;
  content: attr(data-text);
  text-shadow: 0px 0px 50px #ffffff;
  filter: blur(10px) brightness(0);
  animation: flicker 2s linear forwards;
  animation-delay: 1s;
}

@keyframes flicker {
  25% {
    filter: blur(5px) brightness(5);
  }
  50% {
    filter: blur(5px) brightness(3);
  }
  75% {
    filter: blur(5px) brightness(2);
  }
  100% {
    filter: blur(5px) brightness(1);
  }
}
.ml-48{
  margin-left: 18rem;
}
