/*--body--*/
body{
  margin: 0px;
}

/*--text color--*/

.text-color-bleu {
  color: blue;
}

.text-color-red {
  color: red;
}

.text-color-cyan {
  color: #02ffa6;
}

.text-cyan-ul {
  color: #02ffa6;
  text-decoration: underline;
}

.text-blue-ul {
  color: blue;
  text-decoration: underline;
}

.text-color-black {
  color: black;
}

.font-bold-400 {
  font-weight: 400;
}

.font-bold-800 {
  font-weight: 800;
}

/*--bg--*/

.bg-orange {
  background-color: orange;
}
.bg-grey {
  background-color: gray;
}

.bg-dark-grey {
  background-color: darkgrey;
}

.bg-black {
  background-color: black;
}

/*-bg+nav-*/

.bg-nav {
  background-color: black;
  display: flex;
  flex-direction: row;
list-style-type: none;
line-height: 4em;
}

nav,
#nav {
  list-style-type: none;
  text-decoration: none;
}

#nav {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
list-style-type: none;
}

/*-margin+padding-*/

.mt-40 {
  margin-top: 7em;
}

.mt-20 {
  margin-top: 5em;
}

.my-40 {
  margin-top: 5em;
  margin-bottom: 5em;
}

.pt {
  padding-top: 1em;
}

.pb {
  padding-bottom: 2em;
}

.px-10 {
  padding-left: 2em;
  padding-right: 2em;
}

.px-20 {
  padding-left: 5em;
  padding-right: 5em;
}

.px-30 {
  padding-left: 12em;
  padding-right: 12em;
}

.pl-10 {
  padding-left: 2em;
}

.pl-40 {
  padding-left: 13em;
}

.px-40 {
  padding-left: 13em;
  padding-right: 13em;
}

.px-10-text {
  padding-left: 4em;
  padding-right: 4em;
  text-align: center;
}

/*-flex-*/

.flex {
  display: flex;
}

.flex-direction-cl {
  flex-direction: column;
}

.flex-direction-cl-reverse {
  flex-direction: column-reverse;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

/*-justify-*/

.justify-content {
  justify-content: center;
}

.justify-items {
  justify-items: center;
}

/*-grind-*/

.grid {
display: grid;
grid-template-columns : 200px 2fr 2fr;
grid-template-rows : 100%;
}

/*-footer-*/

.contenue-footer {
  flex: 1 0 auto;
  margin: 0em;
  list-style-type: none;
  flex-shrink: 0;
  }

.flex-wrap {
  flex-wrap: wrap;
}

.footer {
  overflow: hidden;
}
.position {
  position: absolute;
}

.bottom {
  bottom: 0px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

